@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.563;
  font-family: "Roboto", sans-serif;
  background: #323232;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

strong {
  font-weight: 700;
}

.app {
  padding: 50px 0;
  background: #323232;
  min-height: 100%;
}
